Source: ensemblist
Section: games
Priority: optional
Maintainer: Cedric Cellier <rixed@free.fr>
Build-Depends: debhelper (>= 4.0.0), xlibs-dev, libgl-dev | xlibmesa-dev, xlibmesa-dev | xlibmesa-glu-dev | glutg3-dev, libpng-dev, libmikmod2-dev, libc6-dev
Standards-Version: 3.6.0

Package: ensemblist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ensemblist-data
Description: A puzzle game where you build 3D shapes using CSG
 Ensemblist is a 3D puzzle game where you have to build 3D shapes
 by combining basic shapes using Constructive Solid Geometry
 operators Union, Intersection, and Cut.
 .
 CSG is GPU intensive, so a recent 3D card is needed.

Package: ensemblist-data
Architecture: all
Description: Data files for Ensemblist
 This package holds the data files necessary to play Ensemblist,
 a 3D puzzle game where you build 3D shapes by CSG combinaitions.

